
body{
    
    background-color:rgb(238, 219, 231);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    font-weight: 300;
    color: blue;
    margin-left: 10%;
    margin-right: 10%;
    border-image-width: 0%;
    

}
h2{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    color: brown;
    
}
nav {
    color: babypink;
}
@media screen and (max-width :360px) and (max-height:640px) {
    body{
    
        background-color: whitesmoke;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: small;
        font-weight: 200;
        color: blue;
        margin-left: 10%;
        margin-right: 10%;
        border-image-width: 0%;
    }
    h2{ 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: x-large;
        color: brown;
        
    }
    nav {
        color:whitesmoke;
    }
    img {
        width: 200px;
        height: 150px;
    }
}